# Godot
godot/.import/
godot/export.cfg
godot/export_presets.cfg
api.json
logs/
*.translation

# Godot Mono
godot/.mono/
godot/data_*/

# Scons
.sconsign.dblite

# Object script
*.os

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build
build/